<% if @tickets.empty? %>
  There is no tickets.
<% else %>
  <div class="list-table">
    <div class="row" id="ticket-stats">
      <div class="current-page">
        Current Page: <%= params["page"] %> <% unless params["page"] %>1<% end %>,
      </div>
      <div class="num-of-tickets">
        Showing <%= @tickets.count %> ticket<% if @tickets.count > 1 %>s<% end %> on this page. Total: <%= @total_ticket_count %> tickets.
      </div>
    </div>

    <div class="row" id="header">
      <div class="status header">
        Status
      </div>
      <div class="subject header">
        Subject
      </div>
      <div class="requested header">
        Requested
      </div>
    </div>

    <% @tickets.each do |ticket| %>
    <div class="row">
      <div class="status">
        <%= ticket.status.capitalize %>
      </div>
      <div class="subject">
        <%= link_to ticket.subject, ticket_path(ticket.id) %> 
      </div>
      <div class="requested">
        <%= ticket.created_at.in_time_zone("Melbourne").strftime('%d %b %Y, %I:%M %p') %>
      </div>
    </div>
    <% end %>

    <div class="pages">
      Page: 
      <% (1..@page_count).each do |page| %>
        <%= link_to page, tickets_path(page: page), class: 'page_' + page.to_s %>
        <% if page < @page_count %>
         | 
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
